---
layout: default
---

{% include menubar.html active="" %}

<div style="padding-top: 20px; display: flex; height: calc(100vh - 70px - 54px - 30px); width: 100%; align-items: center; justify-content: center;" class="ui container ">
	<div style="margin: auto;">
		<table>
			<tr>
				<td>
					<i class="ui huge icon settings" style="margin-right: 0.2em;"></i>
				</td>
				<td>
					<h3># Error 404</h3>
					<p>I'm sorry, that URL could not be found. Go back <a href="/">home</a>?</p>
				</td>
			</tr>
		</table>
	</div>
</div>

